#All_calendar{
  animation: fadeIn 0.9s;

}
#nav{
  background: linear-gradient(to right, #1A5B5B, #297F7F, #fff,#fff);
  color: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5) ;

}

        /* Loader CSS */
        .loader { 
          transform: rotateZ(45deg); 
          perspective: 1000px; 
          border-radius: 50%; 
          width: 100px; 
          height: 100px; 
          color: #4299e1; 
        } 
        
        .loader:before, 
        .loader:after { 
          content: ''; 
          display: block; 
          position: absolute; 
          top: 0; 
          left: 0; 
          width: inherit; 
          height: inherit; 
          border-radius: 50%; 
          transform: rotateX(70deg); 
          animation: 1s spin linear infinite; 
        } 
        
        .loader:after { 
          color: green; 
          transform: rotateY(70deg); 
          animation-delay: .4s; 
        } 
        
        @keyframes rotate { 
          0% { 
            transform: translate(-50%, -50%) rotateZ(0deg); 
          } 
          100% { 
            transform: translate(-50%, -50%) rotateZ(360deg); 
          } 
        } 
        
        @keyframes rotateccw { 
          0% { 
            transform: translate(-50%, -50%) rotate(0deg); 
          } 
          100% { 
            transform: translate(-50%, -50%) rotate(-360deg); 
          } 
        } 
        
        @keyframes spin { 
          0%, 100% { 
            box-shadow: .2em 0px 0 0px currentcolor; 
          } 
          12% { 
            box-shadow: .2em .2em 0 0 currentcolor; 
          } 
          25% { 
            box-shadow: 0 .2em 0 0px currentcolor; 
          } 
          37% { 
            box-shadow: -.2em .2em 0 0 currentcolor; 
          } 
          50% { 
            box-shadow: -.2em 0 0 0 currentcolor; 
          } 
          62% { 
            box-shadow: -.2em -.2em 0 0 currentcolor; 
          } 
          75% { 
            box-shadow: 0px -.2em 0 0 currentcolor; 
          } 
          87% { 
            box-shadow: .2em -.2em 0 0 currentcolor; 
          } 
        }
#viewdocument{
  background:rgba(128, 128, 128, 0.283);
  color: white;
  border-radius: 50px;
  transition: 0.5s;
}
#viewdocument:hover{
  background-color: grey;
  cursor: pointer;
}
.custom-swal-ferme-button{
  color: white;
  background-color: red;
  border-radius: 50px;
  transition: 0.5s;
}
.custom-swal-ferme-button:hover{
  color: white;
  background-color: red;
  border-radius: 50px;
  transition: 0.5s;
  transform: scale(1.3);

}
#rediusboxes {
    border-top-right-radius: 50px;  /* Arrondi en haut à droite */
    border-bottom-right-radius: 50px;  /* Arrondi en bas à droite */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient( #1A5B5B, #297F7F ,#297f7f79 );
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5) ;

  }
  .edit_trans{
    background:rgba(255, 166, 0, 0.394) ;
    color: white;
    padding: 7px;
    transition: 0.5s;
    border-radius: 50px;
  }
  .edit_trans:hover{
    background:orange;
    cursor: pointer;
    color: white;
    transform: scale(1.3);
  
  }
#calendrier_text {
    font-size: 40px;
}
.date-minicalendrier{
    font-size: 25px;
    font-weight: bold;

}
/* .years{
  transition: 0.5s;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  
}
.years:hover{
background:  rgba(128, 128, 128, 0.575);
cursor: pointer;
} */
#All1{
    font-weight: bold;
    background-color: #f4f4f576;
}
#All1:hover{
  font-weight: bold;
  background-color: #F4F4F5;
  cursor: pointer;
}


#day_and_date{
    font-weight: bold;
    font-size: 20px;

}

#Today1{
  font-weight: bold;
  background-color: #f4f4f576;
  border: 1px solid white;
  transition: 0.5s;
  border-radius: 10px;

}

#Today1:hover{
  font-weight: bold;
  background-color: #F4F4F5;
  border: 1px solid white;
  cursor: pointer;
  

}
/* Animation pour le sidebar */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}



.toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Ajustement pour le contenu principal lorsque le sidebar est caché */

.panel{
    margin-bottom: 800px;

 
}
/* Transfer Details Popup */
.transfer-popup {
  animation: fadeIn 0.3s ease-out;
}
#confirm-btn{
  background: rgba(0, 128, 0, 0.387);
  border: rgba(0, 128, 0, 0.387);
  transition: 0.5s;

}
#confirm-btn:hover{
  background: green;
  border: green;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.3);

}
#close-btn{
  background: rgba(255, 0, 0, 0.487);
  border: rgba(255, 0, 0, 0.487);
  transition: 0.5s;
  
}
#close-btn:hover{
    background: red;
    border: red;
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.3);
  
  }
  /* Ajoutez ceci à votre fichier CSS */
.date-minicalendrier {
  transition: background-color 0.2s ease;
}

.month-selector-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
#update-group-btn{
background: rgba(0, 128, 0, 0.397);
}
#update-group-btn:hover{
  background: green;
  transition: 0.5s;
  cursor: pointer;
}
select{
  cursor: pointer;
}
option{
  cursor: pointer;
}
.month-selector-button {
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}

.year-selector {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.Circlex_day{
  color: rgba(220, 124, 124, 0.956);
  
}
.Circlex_day:hover{
  color: red;
  border: red;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.3);
}
.check{
  color: rgba(25, 210, 25, 0.529);
  
}
.check:hover{
  color: goldenrod;
  border: goldenrod;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.3);
}
.text-transfer
{
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
input,select{
  border-radius: 20px;
}
#text_td{
  font-size:15px;
}
