.ALL_Import{
  animation: fadeIn 0.9s;
}
#nav{
  margin: 2px;
  background: linear-gradient(to right, #1A5B5B, #297F7F, #fff,#fff);
  color: white;
  border-radius: 50px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5) ;

}
.addMagasin_btn{
    background: rgba(0, 81, 101, 0.705);
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
    transition: 0.5s;

    border-radius: 50px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.07);

  }
.addMagasin_btn:hover{
    background: rgba(0, 80, 101, 1);
    transition: 0.5s;
    cursor: pointer;
    color: white;
  }
  #CloudUpload{
    color: #3A96E7;
}
.edit_Inv{
  background:rgba(255, 166, 0, 0.394) ;
  color: white;
  padding: 7px;
  transition: 0.5s;
  border-radius: 50px;
}
.edit_Inv:hover{
  background:orange;
  cursor: pointer;
  color: white;
  transform: scale(1.3);

}
.remove_Inv{
  background:rgba(255, 0, 0, 0.454) ;
  color: white;
  padding: 7px;
  transition: 0.5s;
  border-radius: 50px;
}
.remove_Inv:hover{
  background:red;
  cursor: pointer;
  color: white;
  transform: scale(1.3);

}
